/* Estilo de alto contraste */
body.high-contrast {
    background-color: #000 !important;
    color: #fff !important;
}

body.high-contrast a {
    color: #0ff !important;
}

body.high-contrast .btn {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #fff !important;
}

body.high-contrast input,
body.high-contrast select,
body.high-contrast textarea {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}
