
{% load static %}

<div class="d-flex flex-column justify-content-between align-self-center">
    <div class="fixed-bottom-left {% if not is_homepage %}footerToHide{% endif %} zoomable">
        <p>
            <strong>MONITORAMENTO DE ACIDENTES DOMÉSTICOS<br>
            <strong>PROJETO INTEGRADOR</strong> – SEMESTRE 01/2025 – EIXO COMPUTAÇÃO – SALA 05 – GRUPO 15
        </p>
    </div>
    <div class="fixed-bottom-right {% if not is_homepage %}footerToHide{% endif %}">
        <img src="{% static 'images/logo-univesp_completo_traco-positivo.svg' %}" alt="UNIVESP Logo" class="img-fluid zoomable logo-univesp">
    </div>
</div>
